extends layout

block content
  h1 Duel!
  form(method='POST' action='/duel')
    select(name='colony1')
      each colony in colonies
        option(value=colony._id) #{colony.name}
    - colonies.reverse()
    select(name='colony2')
      each colony in colonies
        option(value=colony._id) #{colony.name}
    input(type='submit' value='submit')
